.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock*.json
.expo/
.expo-shared/
dist/
web-build/
*.expo*
*.packager
.env
.env.*
env.json
env.local
credentials.json
.idea/
.vscode/
*.iml
.venv/
.nvmrc
ios/build/
ios/Pods/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcsettings
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
android/.gradle/
android/app/build/
*.apk
*.keystore
*.jks
*.tar.gz
*.tgz
*.zip
*.ipa
*.aab
*.bak
*~
Thumbs.db
